KEYAUTH_BRIDGE_URL=http://SEU_SERVIDOR/keyauth-source/api/desktop/
KEYAUTH_API_URL=http://SEU_SERVIDOR/keyauth-source/api/1.2/
KEYAUTH_OWNER_ID=SEU_OWNER_ID
KEYAUTH_APP_NAME=SEU_APP_NAME
KEYAUTH_SELLER_KEY=SEU_SELLER_KEY
KEYAUTH_VERSION=1.0
KEYAUTH_HASH=
